@import "tailwindcss";

:root {
  --background: #EBE5D5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
}

@layer base {
  body {
    @apply antialiased text-foreground;
    background-color: #000000;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
}

@layer utilities {
  .mesh-bg {
    background-color: #f3e7e9;
    background-image: 
        radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
        radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
        radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%),
        radial-gradient(at 12% 19%, hsla(208, 68%, 65%, 1) 0px, transparent 50%),
        radial-gradient(at 89% 13%, hsla(263, 62%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 85% 79%, hsla(53, 58%, 71%, 1) 0px, transparent 50%),
        radial-gradient(at 13% 85%, hsla(22, 79%, 76%, 1) 0px, transparent 50%);
    background-attachment: fixed;
  }
}

